---
name: Build and Push Docker Image to Docker Hub

env:
  R_VERSION: ${{ vars.R_VERSION }}

# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main"]
    tags-ignore: ["*"]
  check_run:
    types: [rerequested, requested_action]
  pull_request:
    branches: ["main"]
# yamllint enable

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up qemu
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          build-args: |
            R_VERSION=${{ env.R_VERSION }}
          tags: |
            frankhjung/gnur:${{ vars.R_VERSION }}
            frankhjung/gnur:latest
