---
name: Build and Push Docker Image to GitHub Container Registry

env:
  R_VERSION: ${{ vars.R_VERSION }}

# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main"]
    tags-ignore: ["*"]
    paths:
      - "Dockerfile"
  check_run:
    types: [rerequested, requested_action]
  pull_request:
    branches: ["main"]
    paths:
      - "Dockerfile"
# yamllint enable

jobs:
  ghcr:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: log in to github container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            R_VERSION=${{ env.R_VERSION }}
          tags: |
            ghcr.io/frankhjung/gnur:${{ env.R_VERSION }}
            ghcr.io/frankhjung/gnur:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
